html
  include includes/head.pug
  body
    header
    include includes/nav.pug
    div.page.center
      h2 Socket.IO 
        span Chat Room
      .chat
        p#num-users 0 users online
        .chat-box
          div
            ul#messages
            form(action='').chat-input
              input#m(type='text', autocomplete='off')
              button Send
      hr
      p
        a#home(href='/') Home
      p
        a#profile(href='/profile') Profile
      p
        a#logout(href='/logout') Logout
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    <script src='/socket.io/socket.io.js'></script>
    script(async, defer, src='/public/client.js')

    include includes/footer.pug