html
  include includes/head.pug
  body
    header
    include includes/nav.pug
    div.page.center
      h2#welcome Welcome, #{username}!
      div
        if photo
          img.photo(src=`${photo}`)
        else if avatar
          img.avatar(src=`${avatar}`)
      hr
      p
        a#home(href='/') Home
      p
        a#chat(href='/chat') Chat
      p
        a#logout(href='/logout') Logout
  
    include includes/footer.pug